# Raw + processed data
data/raw/
data/processed/

# Reports & figures
reports/
figs/

# Models & artifacts
# Models & artifacts
# Ignore large temporary or experimental files, but keep final models
artifacts/
!artifacts/final_sentiment_pipe.pkl
!artifacts/final_sentiment_pipe_v2.pkl
!artifacts/final_sentiment_pipe.joblib
*.h5

# Python cache
__pycache__/
*.py[cod]

# Virtual envs
.env
.venv/
env/
venv/
.ipynb_checkpoints/

# VS Code
.vscode/
# macOS
.DS_Store

# Secrets
*.env
secrets.*
