# Raw + processed data
data/raw/
data/processed/

# Reports & figures
reports/
figs/

# Models & artifacts

# Python cache
__pycache__/
*.py[cod]

# Virtual envs
.env
.venv/
env/
venv/
.ipynb_checkpoints/

# VS Code
.vscode/
# macOS
.DS_Store

# Secrets
*.env
secrets.*
